/*------------------------------------------------------------------------------
	WEB : page design
------------------------------------------------------------------------------*/



/*==============================
	Layout
==============================*/

/* Body & Wrapper */
.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto 0 auto;
	padding: 1px;
}





/*==============================
	Style
==============================*/

/* Set font */
* {
	font-family: 'Ubuntu', 'Arial', 'Helvetica', 'Palatino', sans-serif;
}
@font-face {
	font-family: cyberfont;
	src: url(../fonts/cyberdyne/cyberdyne.ttf);
}
/* Body & Wrapper */
body {
	background-color: #000000bb;
	overflow-x:hidden;
}
header{
	background-color: #000000f0;
	position:sticky;
	top:0;
	width:100vw;
	height: 15vw;
	border-radius: 0vw 1vw 1vw 0vw;
	z-index: 14000;
}
h1{	
	width:75vw;
	display:inline-block;
	color:aquamarine;
	font-size: 6vw;
	font-family: cyberfont;
}
button{
	border-radius: 0vw 1vw 1vw 0vw;
	width:15vw;
	height:15vw;
	margin-left: 9vw;
	position:sticky;
	top:0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center;
}
nav{
	display:none;
	width:100vw;
}
ul.navbar{
	background-color: white;
	list-style:none;
	display:flex;
	flex-direction: column;
	width:100vw;
	height:100vh;
	z-index: 10;
	align-items: start;
}
ul.navbar li{
	padding:3vw;
	margin-bottom:5vh;
	opacity:0.6;
	transition: 0.3s;
	font-size: 5vw;
	border-style: none none solid none;
}
.navbar li:hover{
	opacity:1;
	border-color: black;
	border-style: none none solid none;
}
li p{
	font-size: 2vw;
	width: 50vw;
	background-color: red;
}
ul{
	list-style:none;
	display:flex;
	flex-direction:column;
	align-items: center;
}
li{
	padding-left: 2vw;
	margin-right: 20vw;
}
h3{
	font-size: 6.3vw;
	font-family: cyberfont;
	width: 40vw;
	color: rgb(255, 145, 77);
}
article{
	margin:10vh 0 10vh 0;
	display:flex;
	flex-direction: row;
	align-items: center;

}
div{
	display: none;
	margin-bottom: 10vh;
}
.presentation{
	border-radius: 20vw;
	width:30vw;
	height:20vh;
	margin-right: 5vw;

}
p{
	font-weight:bold;
	color: rgb(255, 145, 77);
}
h2{
	font-family:cyberfont;
	font-size: 10vw; 
	color: aquamarine;
	margin-bottom: 5vh;
	border-style: solid;
	border-width: 0.5vh;
	border-color: #c4d6b7;

}
h3 a{
	font-size: 6.3vw;
	font-family: cyberfont;
	width: 40vw;
	color: rgb(255, 145, 77);
}
div > h3{
 text-align: center;
 width: 100vw;
}
meter{
	z-index: -1000;
	width: 80vw;
	height: 10vh;

}
img{
	display: block;
	width: 70vw;
	margin: 0 auto 0 auto;

}
footer{
	width: 100vw;
	background-color: grey;
	height: 5vh;
	position: fixed;
	bottom:0;
}
footer p{
	padding-right: 2vw;
	text-align: end;
}
div ul{
	display: flex;
	flex-direction: column;
}

a:hover{
	text-decoration-style:dashed;
}
/*==============================
	Classes
==============================*/





/*==============================
	Responsive design
==============================*/

/* Media query : mobile */
@media (max-width: 600px) {
body{
	background-color: red;
}
}



/* Media query : tablet */
@media (min-width: 600px) and (max-width: 1200px) {
body{
	background-color: blue;
}
	footer{
	width: 100vw;
}

}



/* Media query : laptop */
@media (min-width: 1200px) {
body{
	background-color: green;
}
meter{
	width: 30vw;
}
div ul{
	flex-direction: row;
}
}
